<aside id="sidebar">
    <div class="sidebar-container text-light">
        <div class="image-container">
            <img src="assets/images/logo-unicauca.svg" alt="Logo Unicauca">
        </div>
        <div class="container-line">
            <div class="line"></div>
        </div>
    </div>

    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a class="sidebar-link menu-one text-nowrap collapse">
                <img src="assets/icons/sidebar/icon-evaluation.svg" alt="icon-evaluation">
                <span class="text-body-heavy mx-3">Evaluación Docente</span>
            </a>
            <ul class="list-unstyled collapsed">
                <li class="sidebar-item">
                    <a routerLink="/app/gestion-soportes" class="sidebar-link collapse text-body-item menu-two">
                        Mis Actividades
                    </a>
                </li>
            </ul>
            <ul class="list-unstyled collapsed">
                <li class="sidebar-item">
                    <a routerLink="/app/gestion-soportes" class="sidebar-link collapse text-body-item menu-two">
                        Mis Responsabilidades
                    </a>
                </li>
            </ul>
            <ul class="list-unstyled collapsed">
                <li class="sidebar-item">
                    <a routerLink="/app/gestion-soportes" class="sidebar-link collapse text-body-item menu-two">
                        Consolidado
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>