th,
td {
    padding: 8px;
}

.table-head{
    width: 79,6875rem;
}


.type-source {
    display: flex;
    width: 1275px;
    height: 30px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
    border-left: 1px solid var(--blue);

}

.head-table-one {
    display: flex;
    width: 17.6875rem;
    height: 49px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px 0px 0px 0px;
    border-top: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
    border-left: 1px solid var(--blue);
}

.head-table-two {
    display: flex;
    width: 15rem;
    height: 49px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-top: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
}

.head-table-three {
    display: flex;
    width: 47rem;
    height: 49px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 0px 8px 0px 0px;
    border-top: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
}

.subhead-table-one {
    display: flex;
    width: 283px;
    padding: 12px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-top: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
    border-left: 1px solid var(--blue);
}

.subhead-table-two {
    display: flex;
    width: 112px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-top: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
}

.subhead-table-three {
    display: flex;
    width: 128px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-top: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
}

.subhead-table-four {
    display: flex;
    width: 256px;
    padding: 12px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-top: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
}

/* @media screen and (max-width: 1024px) {
    .head-table-one {
        display: flex;
        width: 100px;
        height: 49px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 8px 0px 0px 0px;
    }
} */

/* Ajustar el ancho para pantallas más pequeñas */
@media screen and (max-width: 283px) {
    .head-table-one {
        width: 100%;
    }

}

@media screen and (max-width: 240px) {
    .head-table-two {
        width: 100%;
    }
}

@media screen and (max-width: 752px) {
    .head-table-three {
        width: 100%;
    }
}

@media screen and (max-width: 1275px) {
    .table-head {
        width: 100%;
    }
}