<div class="table-responsive">
<table class="table">
    <thead>
        <tr style="display: flex ;">
            <th class="head-table-one ">
                <span class="text-body-heavy">Actividades</span>
            </th>
            <th class="text-body-heavy head-table-two" colspan="2">
                <span class="text-body-heavy">Autoevalución</span>
            </th>
            <th class="text-body-heavy head-table-three" colspan="4">
                <span class="text-body-heavy">Fuente 2</span>
            </th>
        </tr >
        <tr style="display: flex ;">
            <th class="subhead-table-one">
                <span class="text-body-small-r">Nombre actividad</span>  
            </th>
            <th class="text-body-small-r subhead-table-two">
                <span class="text-body-small-r">Estado</span>
            </th>
            <th class="text-body-small-r subhead-table-three">
                <span class="text-body-small-r">Acciones</span>
            </th>
            <th class="text-body-small-r subhead-table-four">
                <span class="text-body-small-r">Evaluador</span>
            </th>
            <th class="text-body-small-r subhead-table-four">
                <span class="text-body-small-r">Rol Evaluador</span>
            </th>
            <th class="text-body-small-r subhead-table-two">
                <span class="text-body-small-r">Estado</span>
            </th>
            <th class="text-body-small-r subhead-table-three">
                <span class="text-body-small-r">Acciones</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="type-source text-body-heavy"><span class="text-body-heavy"> Docencia</span></td>
        </tr>
        <tr style="display: flex ;">
            <th class="subhead-table-one">
                <span class="text-body-small-r">Metodología de la investigación</span>  
            </th>
            <th class="text-body-small-r subhead-table-two">
                <span class="text-body-small-r">Pendiente</span>
            </th>
            <th  class="text-body-small-r subhead-table-three">
                <img src="assets/icons/tables/upload.svg" alt="upload">
            </th>
            <th class="text-body-small-r subhead-table-four">
                <span class="text-body-small-r">Alejandro Toledo Tovar</span>
            </th>
            <th class="text-body-small-r subhead-table-four">
                <span class="text-body-small-r">Jefe de Departamento</span>
            </th>
            <th class="text-body-small-r subhead-table-two">
                <span class="text-body-small-r">Diligenciado</span>
            </th>
            <th class="text-body-small-r subhead-table-three">
                <img src="assets/icons/tables/icon-view.svg" alt="icon-view">
            </th>
        </tr>
        <tr style="display: flex ;">
            <th style="border-bottom: 1px solid var(--blue); border-radius: 0px 0px 0px 8px;" class="subhead-table-one">
                <span class="text-body-small-r">Metodología de la investigación</span>  
            </th>
            <th style="border-bottom: 1px solid var(--blue);" class="text-body-small-r subhead-table-two">
                <span class="text-body-small-r">Pendiente</span>
            </th>
            <th style="border-bottom: 1px solid var(--blue);" class="text-body-small-r subhead-table-three">
                <img src="assets/icons/tables/upload.svg" alt="upload">
            </th>
            <th style="border-bottom: 1px solid var(--blue);" class="text-body-small-r subhead-table-four">
                <span class="text-body-small-r">Alejandro Toledo Tovar</span>
            </th>
            <th style="border-bottom: 1px solid var(--blue);" class="text-body-small-r subhead-table-four">
                <span class="text-body-small-r">Jefe de Departamento</span>
            </th>
            <th style="border-bottom: 1px solid var(--blue);" class="text-body-small-r subhead-table-two">
                <span class="text-body-small-r">Diligenciado</span>
            </th>
            <th style="border-bottom: 1px solid var(--blue); border-radius: 0px 0px 8px 0px;" class="text-body-small-r subhead-table-three">
                <img src="assets/icons/tables/icon-view.svg" alt="icon-view">
            </th>
        </tr>
    </tbody>
</table>
</div>