th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.head-table-one {
    display: flex;
    width: 283px;
    height: 49px;
    padding: var(--Spacing-Size-Size-5, 16px) 12px;

    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.head-table-two {
    display: flex;
    width: 240px;
    height: 49px;
    padding: var(--Spacing-Size-Size-5, 16px) 12px;
    
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.head-table-three {
    display: flex;
    width: 752px;
    height: 49px;
    padding: var(--Spacing-Size-Size-5, 16px) 12px;        
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.subhead-table-one {
    width: var(--Spacing-Size-Size-8, 128px);
    padding: var(--Spacing-Size-Size-5, 16px) 12px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.subhead-table-two {
    width: 112px;
    padding: var(--Spacing-Size-Size-5, 16px) 12px;
    
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0; 
}

.subhead-table-three {
    width: var(--Spacing-Size-Size-9, 256px);
    
    padding: var(--Spacing-Size-Size-5, 16px) 12px;
    
    align-items: center;
    gap: 10px;
    flex-shrink: 0;  
}
