<div class="table-responsive">
    <table class="table-striped">
        <thead>
            <tr style="display: flex;">
                <th class="head-table-one">
                    <span class="text-body-heavy">Actividades</span>
                </th>
                <th class="text-body-heavy head-table-two" colspan="2">
                    <span class="text-body-heavy">Autoevalución</span>
                </th>
                <th class="text-body-heavy head-table-three">
                    <span class="text-body-heavy">Fuente 2</span>
                </th>
            </tr>
            <tr style="display:flex;">
                <th class="subhead-table-one">
                    <span class="text-body-small-r">Nombre actividad</span>
                </th>
                <th class="text-body-small-r subhead-table-two">
                    <span class="text-body-small-r">Estado</span>
                </th>
                <th class="text-body-small-r subhead-table-three">
                    <span class="text-body-small-r">Acciones</span>
                </th>
                <th class="text-body-small-r subhead-table-four">
                    <span class="text-body-small-r">Evaluador</span>
                </th>
                <th class="text-body-small-r subhead-table-four">
                    <span class="text-body-small-r">Rol Evaluador</span>
                </th>
                <th class="text-body-small-r subhead-table-two">
                    <span class="text-body-small-r">Estado</span>
                </th>
                <th class="text-body-small-r subhead-table-three">
                    <span class="text-body-small-r">Acciones</span>
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let activitieType of laborData.labor; let isLastLaborType = last">
            <tr>
                <td class="type-source text-body-heavy"><span class="text-body-heavy">{{ activitieType.type }}</span>
                </td>
            </tr>
            <tr style="display: flex ;" *ngFor="let activitie of activitieType.activities; let isLastActivitie = last">
                <th class="subhead-table-one" [ngStyle]="{
                    'border-bottom': isLastLaborType && isLastActivitie ? '1px solid var(--blue)' : '',
                    'border-radius': isLastLaborType && isLastActivitie ? '0px 0px 0px 8px' : ''
                  }">
                    <span class="text-body-small-r">{{activitie.activities_name}}</span>
                </th>
                <div style="display: contents;" *ngFor="let source of activitie.source">
                    <div [ngSwitch]="source.name_source" style="display: contents;">
                        <div *ngSwitchCase="'Autoevaluación'" style="display: contents;">
                            <th class="text-body-small-r subhead-table-two" [ngStyle]="{
                                'border-bottom': isLastLaborType && isLastActivitie ? '1px solid var(--blue)' : '',
                              }">
                                <span class="text-body-small-r">{{source.state}}</span>
                            </th>
                            <th class="text-body-small-r subhead-table-three" [ngStyle]="{
                                'border-bottom': isLastLaborType && isLastActivitie ? '1px solid var(--blue)' : '',
                              }">
                                <img src="assets/icons/tables/upload.svg" alt="upload">
                            </th>
                        </div>
                        <div *ngSwitchCase="'Fuente 2'" style="display: contents;">
                            <th class="text-body-small-r subhead-table-four" [ngStyle]="{
                                'border-bottom': isLastLaborType && isLastActivitie ? '1px solid var(--blue)' : '',
                              }">
                                <span class="text-body-small-r">{{source.evaluator}}</span>
                            </th>
                            <th class="text-body-small-r subhead-table-four" [ngStyle]="{
                                'border-bottom': isLastLaborType && isLastActivitie ? '1px solid var(--blue)' : '',
                              }">
                                <span class="text-body-small-r">{{source.rol_evaluator}}</span>
                            </th>
                            <th class="text-body-small-r subhead-table-two" [ngStyle]="{
                                'border-bottom': isLastLaborType && isLastActivitie ? '1px solid var(--blue)' : '',
                              }">
                                <span class="text-body-small-r">{{source.state}}</span>
                            </th>
                            <th class="text-body-small-r subhead-table-three" [ngStyle]="{
                                'border-bottom': isLastLaborType && isLastActivitie ? '1px solid var(--blue)' : '',
                                'border-radius': isLastLaborType && isLastActivitie ? '0px 0px 8px 0px' : ''
                              }">
                                <img src="assets/icons/tables/icon-view.svg" alt="icon-view">
                            </th>
                        </div>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>
</div>