<p>table-activities works!</p>

<table>
    <tr>
        <th class="subhead-table-one">Actividades</th>
        <th class="subhead-table-two">Autoevalución</th>
        <th class="subhead-table-three">Fuente 2</th>
    </tr>
    <tr>
        <th>
            Nombre actividad
        </th>
        <th>
            Estado soportes
        </th>
        <th>
            Acciones
        </th>
        <th>
            Evaluador
        </th>
        <th>
            Rol Evaluador
        </th>
        <th>
            Estado soporte
        </th>
        <th>
            Acciones
        </th>
    </tr>
</table>