<div class="line">
</div>

<div class="row">
  <div class="col-1" style="width: 50px">
    <img src="assets/icons/tables/filter.svg" alt="filters">
  </div>

  <div class="col">
    <div class="row">
      <div class="col" style="margin: 1px;">
        <input class="button-main" placeholder="Actividad">
      </div>
      <div class="col" style="margin: 1px; padding-left: 6px; padding-right: 6px">
        <select class="form-select button-dropdown" id="inputGroupSelect01" >
          <option selected>Tipo Actividad</option>
          <option value="1">Actividades de docencia</option>
          <option value="2">Investigación</option>
          <option value="3">Investigación</option>
          <option value="4">Administración</option>
          <option value="3">Otros ervicios</option>
        </select>
      </div>
      <div class="col" style="margin: 1px;">
        <input class="button-main" placeholder="Nombre evaluador">
      </div>
      <div class="col" style="margin: 1px;">
        <select class="form-select button-dropdown" id="inputGroupSelect01">
          <option selected>Rol Evaluador</option>
          <option value="1">Estudiante</option>
          <option value="2">Coordinador</option>
          <option value="3">Jefe de departamento</option>
        </select>
      </div>
      <div class="col" style="margin: 1px">
        <select class="form-select button-dropdown-source" id="inputGroupSelect01">
          <option selected>Fuente</option>
          <option value="1">Fuente 1</option>
          <option value="2">Fuente 2</option>
        </select>
      </div>
      <div class="col" style="margin: 1px;">
        <select class="form-select button-dropdown-state" id="inputGroupSelect01">
          <option selected>Estado</option>
          <option value="1">Diligenciado</option>
          <option value="2">Pendiente</option>
        </select>
      </div>

    </div>
  </div>
</div>
<div class="line">
</div>