<div class="view-container">
    <span class="title-two">Mis Actividades</span>
    <div class="messages" style="margin: 5px;">
        <img src="assets/icons/messages/teacher.svg" alt="teacher-icon">
        <span class="text-body-heavy">A continuación encontrará el listado de actividades asignadas para el perido 2024-2</span>
    </div>
    <p class="title-three">Listado de actividades asignadas para el periodo 2024-2</p>
    <supportManagement-filters></supportManagement-filters>
    <supportManagement-table-activities></supportManagement-table-activities>
    
    <p class="title-three" style="margin: 5px; padding-top: 30px;">Cargar autoevaluación</p>
    <div class="messages" style="margin: 5px;">
        <img src="assets/icons/messages/teacher.svg" alt="teacher-icon">
        <span class="text-body-heavy">Seleccione esta opción si desea cargar la autoevaluación utilizando un formato externo.</span>
    </div>
    <div class="button-radius" style="margin: 5px;">
        <p class="title-three" style="margin: 0px;">Autoevaluación</p>
        <a class="button">
            <img src="assets/icons/buttons/go-icon.svg">
        </a>
    </div>

    <p class="title-three" style="margin: 5px;">Generar resumen de autoevaluación</p>
    <div class="messages" style="margin: 5px;">
        <img src="assets/icons/messages/icon-info.svg" alt="teacher-icon">
        <span class="text-body-heavy">El resumen de autoevalación se puede generar una vez diligenciado todos los soportes de autoevaluación y se encuentre en estado “Pendiente firma”. Una vez generado el consolidado se solicitará la firma necesaria para continuar con el proceso de evaluación docente.</span>
    </div>
    <div class="button-radius" style="margin: 5px;">
        <p class="title-three" style="margin: 0px;">Generar resumen</p>
        <a class="button">
            <img src="assets/icons/buttons/go-icon.svg">
        </a>
    </div>
</div>

