<div class="view-container">
    <span class="title-two">Mis Actividades</span>
    <div class="messages" style="margin: 5px;">
        <img src="assets/icons/messages/teacher.svg" alt="teacher-icon">
        <span class="text-body-heavy">A continuación encontrará el listado de actividades asignadas para el perido 2024-2</span>
    </div>
    <p class="title-three">Listado de actividades asignadas para el periodo 2024-2</p>
    <supportManagement-filters></supportManagement-filters>
    <supportManagement-table-activities></supportManagement-table-activities>

    <div class="row">
        <div class="col">
    
            <p class="title-three" style="margin: 5px;">Cargar autoevaluación</p>
            <div class="messages" style="margin: 5px;">
                <img src="assets/icons/messages/teacher.svg" alt="teacher-icon">
                <span class="text-body-heavy">Seleccione esta opción si desea cargar la autoevaluación utilizando un formato externo.</span>
            </div>
            <div class="button-radius" style="margin: 5px;">
                <p class="title-three" style="margin: 0px;">Autoevaluación</p>
                <a class="button">
                    <img src="assets/icons/buttons/go-icon.svg">
                </a>
            </div>
        </div>
        <div class="col">
            <supportMangement-upload-file >

            </supportMangement-upload-file>
            
        </div>
    </div>



</div>

